.main-container{

    
        width: 80%;
        max-width: 900px;
        margin: 50px auto;
        padding: 30px;
        
        text-align: left;
    
    
    /* Responsive design */
   
    



}
@media (max-width: 768px) {
    .main-container {
        width: 95%;
        padding: 20px;
    }
}