#bg-hero {
    background-image: url('../images/justice-1509436_1920.jpg');
}

/* Animation for icons */
.icon-hover:hover {
    animation: bounce 0.5s ease-in-out;
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

/* Read More hover animation */
.read-more {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s;
    color: #FFD700; /* Bright Yellow */
}

.read-more:hover {
    transform: scale(1.1);
    opacity: 0.9;
    color: #FFC300; /* Lighter Yellow on Hover */
}
